<button class="print-btn" (click)="printPDF()">Print</button>

<div class="printDIVOnly printHide">
    <canvas hidden class="canvasPdf" id={{canvas_ID}}></canvas>
    <div class="pdf-frames" *ngFor="let arr of ['ami'];let i=index">
        <canvas class="canvasPdf" id="{{canvas_ID}}{{i+1}}"></canvas>
    </div>
</div>
<div class="" id="dwonld_pdf" *ngIf="renderError">
    Unable to print at this moment. CLick <span (click)="donwloadPDF()"> here </span> to download and print manually.
</div>

<a style="display:none;" id="A_DOWNLOAD"></a>
<iframe style="display:none;" id='PDF_IFRAME' title="hidden-frame" [src]="PDF | safe: 'resourceUrl'"></iframe>